@inject NavigationManager Navigation

<div class="p-4 text-center">
    <p>Przekierowanie do logowania…</p>
</div>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            Navigation.NavigateTo("/Account/Login", forceLoad: true);
    }
}
